<html>
<head>
    <title>Purity Test Generator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/d0a0962759.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="/ptapp.png"/>
</head>
<body>
<style>
    #full_page {
        width: 100%;
        height: 100vh;
        position: absolute;
    }
    #fp_inside {
        position: absolute;
        width: 80%;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        text-align: center;
    }
    #fp_inside h1 {
        font-size: 50px;
        color: white;
        transition: .7s;
    }
    #fp_inside h1:hover {
        font-size: 60px;
    }
    #fp_inside a h2 {
        color: white;
        font-size: 20px;
        display: inline-block;
        background-color: var(--accent-dark);
        transition: .7s;
        padding: 10px;
        margin: 5px;
    }
    #fp_inside a h2:hover {
        background-color: var(--accent);
        font-size: 30px;
    }
</style>
<div id="full_page" class="gradient-background">
    <div id="fp_inside">
        <h1>Purity Test Generator</h1>
        <% if (loggedIn) { %>
            <a href="/all"><h2>Browse Tests</h2></a><br/>
            <a href="/new"><h2>Create New Test</h2></a><br/>
            <a href="/logout"><h2>Logout</h2></a>
        <% } else { %>
            <a href="/all"><h2>Browse Tests</h2></a><br/>
            <a href="/login"><h2>Login</h2></a>
        <% }%>
    </div>
</div>
<div id="container">
<!--    < if (test_list) { >-->
<!--        <h2>Top 10 Tests</h2>-->
<!--        <- include('partials/testlist.ejs', {list: test_list}); >-->
<!--    < } >-->
<%- include('partials/footer.ejs'); %>