<%- include('partials/header.ejs', {title: undefined}); %>
    <% if (test_list) { %>
        <h2>Top 10 Tests</h2>
        <%- include('partials/testlist.ejs', {list: test_list}); %>
    <% } %>
<%- include('partials/footer.ejs'); %>