<!DOCTYPE html>
<html>
<head>
    <title>PT - Login</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<style>
    #loginContainer {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-color: var(--main-color);
    }
    .banner {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        text-align: center;
        z-index: 20;
        background-color: var(--background);
        color: white;
        margin: 0;
        padding: 20px 0;
        font-weight: 800;
    }
    #loginForm {
        position: absolute;
        width: 40%;
        height: 60%;
        top: 15%;
        right: 30%;
        background-color: white;
        box-shadow: 0 0 4px 1px var(--accent-dark);
    }

    #loginInner {
        position: absolute;
        height: auto;
        width: 80%;
        margin: 0 10%;
        top: 50%;
        transform: translateY(-50%);
    }

    input {
        display: inline-block;
        width: 100%;
        margin: 15px 0;
        border: 1px;
        box-shadow: 0 0 1px 1px var(--accent-dark);
        background-color: white;
        height: 40px;
    }

    form h2 {
        display: inline-block;
        margin: 15px 0;
        color: var(--accent-dark);
    }

    form a {
        float: right;
        color: var(--accent-dark);
        text-decoration: underline;
        padding-left: 10px;
    }

    input[type=text], input[type=password] {
    }
</style>
    <% if (msg) { %>
        <p class="banner">Invalid username or password.</p>
    <% } %>
    <div id="loginContainer">
        <form id="loginForm" action="/login" method="POST">
            <div id="loginInner">
                <h2>Login</h2>
                <input type="text" name="user" placeholder="Username" value=""/>
                <input type="password" name="password" placeholder="Password" value=""/>
                <input type="submit" name="submit" value="Login"/>
                <a href="/signup">Sign up</a><a href="/">Go Home</a>
            </div>
        </form>
    </div>
</body>
</html>