<!DOCTYPE html>
<html>
<head>
    <title>PT - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <% if (msg) { %>
        <p class="banner">Invalid username or password.</p>
    <% } %>
    <div id="loginContainer" class="gradient-background">
        <form id="loginForm" action="/login" method="POST">
            <div id="loginInner">
                <h2>Login</h2>
                <input type="text" name="user" placeholder="Username" value=""/>
                <input type="password" name="password" placeholder="Password" value=""/>
                <input type="submit" name="submit" value="Login"/>
                <a href="/signup">Sign up</a><a href="/">Go Home</a>
            </div>
        </form>
    </div>
</body>
</html>