<%- include('partials/header.ejs', {title: undefined}); %>
<style>
    #filldetails, #addOne, #subOne {
        float: right;
        margin-left: 5px;
    }
    #labQuestions {
        display: inline;
    }
    input[type=textarea], input[type=text] {
        margin-bottom: 20px;
    }
    #questionsHeader {
        margin-bottom: 20px;
    }
    #actualQuestions input {
        margin-bottom: 5px;
    }
    label {
        font-size: 16px;
        font-weight: 900;
    }
    small {
        display: block;
    }
</style>
    <div id="questionsHeader">
        <label id="labQuestions" for="numberOfQuestions"><b>Number of Questions:</b></label>
        <input type="number" id="nQuestions" name="nQuestions"/>
        <button id="filldetails" onclick="addQuestions()">Submit</button>
        <button id="addOne" onclick="subOne()">Remove One</button>
        <button id="subOne" onclick="addOne()">Add One</button>
    </div>

    <form id="ptgForm" action="/create" method="POST">
        <label for="Title"><b>Your Test Title:</b></label>
        <input type="text" id="title" name="title"/>
        <br/>
        <label for="Title"><b>Custom Link:</b></label>
        <input type="text" id="easyId" name="easyId"/>
        <br/>
        <label for="preText"><b>Pre-Text:</b></label>
        <small>Enter some words the test taker will see before taking the test:</small>
        <input type="textarea" id="preText" name="preText" rows="4" cols="50"/>
        <br/>
        <label for="result"><b>Feedback for Test Results:</b></label>
        <small>Example: You are 75% proficient in English Grammar</small>
        <small>You are 75%...</small>
        <input type="textarea" id="postText" name="postText" rows="4" cols="50"/>
        <br/>
        <label>Questions:</label>
        <div id="actualQuestions">

        </div>
        <br/>
        <input type="submit" value="Generate Your Test!"/>
    </form>
    <script type='text/javascript'>
        let nQuestions = 0;

        $("#easyId").change((e) => {
            if ($("#easyId").val() !== "") {
                $.ajax({
                    url: "/validateId",
                    type: "POST",
                    data: {
                        easyId: $("#easyId").val()
                    },
                    success: (res) => {
                        console.log(res);
                        if (res === "false") {
                            $("#easyId").attr("style", "background-color:var(--main-color);");
                        } else {
                            $("#easyId").attr("style", "background-color:#ed918c;");
                        }
                    }
                })
            } else {
                $("#easyId").css("background-color", "inherit");
            }
        });

        function addOne() {
            var container = document.getElementById("actualQuestions");
            console.log(container);

            var qContainer = document.createElement("div");
            qContainer.setAttribute("class", "questionDiv");

            // Create an input element for New Question
            var newQuestion = document.createElement("input");
            newQuestion.setAttribute("type", "text");
            newQuestion.setAttribute("name", "questions[]");
            newQuestion.setAttribute("placeholder", "New Question");

            qContainer.prepend(newQuestion);
            qContainer.prepend(document.createTextNode("Question " + (nQuestions + 1) + ": "));

            container.append(qContainer);

            nQuestions++;
        }

        function subOne() {
            var container = document.getElementById("actualQuestions");
            if (container.hasChildNodes() && container.childNodes.length > 1) {
                container.removeChild(container.lastChild);
                nQuestions--;
            }
        }

        function addQuestions() {
            // Number of inputs to create
            var number = document.getElementById("nQuestions").value;

            if (number > 0 && number <= 100) {
                while (nQuestions != number) {
                    if (nQuestions < number) {
                        addOne();
                    } else {
                        subOne();
                    }
                }
            } else {
                alert("Please enter a number from 1 to 100."); //TODO: cooler alert
            }

            // Clear previous contents of the container
            /*while (container.hasChildNodes())
            {
                container.removeChild(container.lastChild);
            }*/
        }

        function initQuestions() {
            while (nQuestions < 10) {
                addOne();
            }
        }
        initQuestions();

        // $("ptgForm").submit((e) => {
        //     e.preventDefault();
        //
        //     let form = $(this);
        //     let url = form.attr('action');
        //
        //     $.ajax({
        //         url: '/validate',
        //         type: 'POST',
        //         data: form.serialize(),
        //         success: (res) => {
        //             $
        //         }
        //     })
        //
        // });
    </script>
<%- include('partials/footer.ejs'); %>