<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <form action="" method="POST">
        <label for="numberOfQuestions" style="font-family:tahoma;"><b>Number of Questions:</b></label>
        <input type="text" id="question" name="question"/><br/><br/>
        <a href="#" id="filldetails" onclick="addQuestions()">Submit</a>
        <script type='text/javascript'>
            function addQuestions()
            {
                // Number of inputs to create
                var number = document.getElementById("question").value;

                // Clear previous contents of the container
                /*while (container.hasChildNodes())
                {
                    container.removeChild(container.lastChild);
                }*/

                // Container <div> where dynamic content will be placed
                var container = document.getElementById("container");
                for (i=number;i>0;i--)
                {
                    console.log(i);
                    // Append a node with a random text

                    // Create an <input> element, set its type and name attributes
                    var input = document.createElement("input");
                    input.type = "text";
                    input.name = "questions[]";

                    // Create an input element for New Question
                    var newQuestion = document.createElement("input");
                    newQuestion.setAttribute("type", "text");
                    newQuestion.setAttribute("name", "questions[]");
                    newQuestion.setAttribute("placeholder", "New Question");

                    // Create an input element for Answer Choice
                    var answerChoice = document.createElement("input");
                    answerChoice.setAttribute("type", "text");
                    answerChoice.setAttribute("name", "AnswerChoice" + i);
                    answerChoice.setAttribute("placeholder", "Answer Choice");

                    //Create a button element for add answer choice
                    var addAnswer = document.createElement("button");
                    addAnswer.setAttribute("type", "text");
                    addAnswer.setAttribute("name", "AddAnswerChoice");
                    addAnswer.setAttribute("placeholder", "Add Answer Choice");
                    addAnswer.setAttribute("style","width:500px");
                    addAnswer.setAttribute("style","height:10px");

                    container.prepend(document.createElement("br"));
                    container.prepend(newQuestion);
                    container.prepend(document.createTextNode("Question " + i + ": "));
                    container.prepend(document.createElement("br"));
                    //container.appendChild(document.createElement("br"));
                    // container.appendChild(document.createElement("br"));
                    // container.appendChild(document.createElement("br"));
                    // container.appendChild(answerChoice);
                    // container.appendChild(document.createElement("br"));
                    // container.appendChild(addAnswer);
                    // container.appendChild(document.createElement("br"));
                    // container.appendChild(document.createElement("br"));
                    // container.appendChild(document.createElement("br"));
                }
            }
            //function addAnswerChoice()
        </script>

        <br><br><br><br>
    </form>
    <form id="container" action="/create" method="POST">
        <br/>
        <label for="Title" style="font-family:tahoma"><b>Your Test Title:</b></label>
        <input type="text" id="title" name="title"/>
        <br/><br/>
        <label for="preText" style="font-family:tahoma;"><b>Pre-Text:</b></label>
        <br/>
        <label for="preText" style="font-family:Georgia;"><small>Enter some words the test taker will see before taking the test:</small></label>
        <br/>
        <input type="textarea" id="preTextbox" name="preTextbox" rows="4" cols="50"/>
        <br/><br/>
        <br/><br/>
        <label for="result" style="font-family:tahoma;"><b>Feedback for Test Results:</b></label>
        <br/>
        <label for="result" style="font-family:georgia;"><small>Example: You are 75% proficient in English Grammar</small></label>
        <br/><br/>
        <label for="result" style="font-family:georgia;">You are 75%...</label>
        <br/>
        <input type="textarea" id="feedbackText" name="feedbackText" rows="4" cols="50"/>
        <br/><br/><br/>
        <input type="submit" value="Generate Your Test!"/>
    </form>

</body>
</html>