<!DOCTYPE html>
<html>
<head>
    <title>Purity Test Results</title>
</head>
<body>
    <label for="Title" style="font-family:tahoma"><b><%= title %></b></label>
    <br><br><br>
    <label for="Congrats" style="font-family:tahoma;"><b>Congratulations, you have completed this test!</b></label>
    <br><br>
    <label for="Results" style="font-family:Tahoma;"><b>Results:</b></label>
    <br>
    <label for="Feedback" style="font-family:tahoma;">You are <%= percentage %> proficient in this topic!</label>
</body>
</html>
