<html>
<head>
    <% if (title) { %>
        <title>PT - <%= title %></title>
    <% } else { %>
        <title>Purity Test Generator</title>
    <% }%>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="navbar">
    <div id="navbar-inside">
        <a href="/"><h1>Purity Test Generator</h1></a>
        <% if (loggedIn) { %>
            <a href="/logout"><h2>Logout</h2></a>
            <a href="/new"><h2>Create New Test</h2></a>
        <% } else { %>
            <a href="/login"><h2>Login</h2></a>
        <% }%>
    </div>
</div>
<div id="container">