<html>
<head>
    <% if (title) { %>
        <title>PT - <%= title %></title>
    <% } else { %>
        <title>Purity Test Generator</title>
    <% }%>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/d0a0962759.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="/ptapp.png"/>
</head>
<body>
<div id="navbar">
    <div id="navbar-inside">
        <a href="/"><h1>Purity Test Generator</h1></a>
        <button id="toggle"><i class="fas fa-bars"></i><i class="fas fa-times"></i></button>
        <script>
            let shown = false;
            $(".fa-times").prop("style","display:none;");
            $("#toggle").click((e) => {
                if (shown) {
                    $(".fa-bars").prop("style","display:inline-block;");
                    $(".fa-times").prop("style","display:none;");
                    $("#toggle").fadeOut(200, () => {
                        $("#subElements").fadeOut(500, () => {
                            $("#toggle").attr("show","off");
                            $("#toggle").fadeIn(200);
                            $("#subElements").attr("show","off");
                        });
                    });
                } else {
                    $(".fa-bars").prop("style","display:none;");
                    $(".fa-times").prop("style","display:inline-block;");
                    $("#subElements").attr("show","on");
                    $("#toggle").fadeOut(200, () => {
                        $("#subElements").fadeIn(500, () => {
                            $("#toggle").attr("show","on");
                            $("#toggle").fadeIn(200);
                        })
                    });
                }
                shown = !shown;
            });
        </script>
        <div id="subElements" show="off">
            <h2 id="spacing"> </h2>
            <a href="/all"><h2>Browse Tests</h2></a>
            <% if (loggedIn) { %>
                <a href="/new"><h2>Create New Test</h2></a>
                <a href="/logout"><h2>Logout</h2></a>
            <% } else { %>
                <a href="/login"><h2>Login</h2></a>
            <% }%>
        </div>
    </div>
</div>
<div id="container">