<div id="testlist">
    <div class="table-header">
        <div class="table-cell">Test Name</div>
        <div class="table-cell">Views</div>
        <div class="table-cell">Likes</div>
    </div>
    <% list.forEach((e) => { %>
        <a class="table-row" href="/show/<%= e.easyId %>">
            <div class="table-cell"><%= e.title %></div>
            <div class="table-cell"><%= e.views %></div>
            <div class="table-cell"><%= e.likes %></div>
        </a>
    <% }); %>
</div>